<md-sidenav md-component-id="sidenav-left" class="md-sidenav-left"> <!--md-is-locked-open="$mdMedia('min-width: 1000px')"-->
  <md-toolbar class="md-accent" layout-align="center center"><h1>Menu</h1></md-toolbar>
  <md-content layout-padding ng-controller="SidenavCtrl">
    <md-list layout-fill>
      <md-item>
        <md-item-content>
          <md-button ng-click="scrollTo('introduction')">Introduction</md-button>
        </md-item-content>
      </md-item>
      <md-item>
        <md-item-content>
          <md-button ng-click="scrollTo('installation')">Installation</md-button>
        </md-item-content>
      </md-item>
      <md-item>
        <md-item-content>
          <md-button ng-click="scrollTo('typography')">Typography</md-button>
        </md-item-content>
      </md-item>
      <md-item>
        <md-item-content>
          <md-button ng-click="scrollTo('colors')">Colors</md-button>
        </md-item-content>
      </md-item>
    </md-list>
  </md-content>
</md-sidenav>