<md-sidenav md-component-id="sidenav-left" class="md-sidenav-left"> <!--md-is-locked-open="$mdMedia('min-width: 1000px')"-->
  <md-toolbar class="md-accent" layout-align="center center"><h1>Menu</h1></md-toolbar>
  <md-content layout-padding>
    <md-list layout-fill>
      <md-item>
        <md-item-content>
          <md-button>Introduction</md-button>
        </md-item-content>
      </md-item>
      <md-item>
        <md-item-content>
          <md-button>Installation</md-button>
        </md-item-content>
      </md-item>
      <md-item>
        <md-item-content>
          <md-button>Typography</md-button>
        </md-item-content>
      </md-item>
      <md-item>
        <md-item-content>
          <md-button>Colors</md-button>
        </md-item-content>
      </md-item>
    </md-list>
  </md-content>
</md-sidenav>