<!-- Colors -->
<md-toolbar><h2 class="md-toolbar-tools">Colors</h2></md-toolbar>
<section ng-controller="ColorsCtrl">
	<md-grid-list
	        md-cols="3"
	        md-gutter="12px"
	        md-row-height="75px">
		<!-- Normal -->
		<md-grid-tile class="color-primary" md-colspan="3">
		      <md-grid-tile-footer class="grid-tile-footer--transparent">
		        <h3>Primary</h3>
		      </md-grid-tile-footer>
	  </md-grid-tile>
		<md-grid-tile class="color-primary-1" md-rowspan="1" md-colspan="1" md-colspan-sm="3">
		      <md-grid-tile-footer class="grid-tile-footer--transparent">
		        <h3>Primary - Hue 1</h3>
		      </md-grid-tile-footer>
	  </md-grid-tile>
  	<md-grid-tile class="color-primary-2" md-rowspan="1" md-colspan="1" md-colspan-sm="3">
  	      <md-grid-tile-footer class="grid-tile-footer--transparent">
  	        <h3>Primary - Hue 2</h3>
  	      </md-grid-tile-footer>
    </md-grid-tile>
  	<md-grid-tile class="color-primary-3" md-rowspan="1" md-colspan="1" md-colspan-sm="3">
  	      <md-grid-tile-footer class="grid-tile-footer--transparent">
  	        <h3>Primary - Hue 3</h3>
  	      </md-grid-tile-footer>
    </md-grid-tile>
    <!-- Accent -->
		<md-grid-tile class="color-accent" md-colspan="3">
		      <md-grid-tile-footer class="grid-tile-footer--transparent">
		        <h3>Accent</h3>
		      </md-grid-tile-footer>
	  </md-grid-tile>
		<md-grid-tile class="color-accent-1" md-rowspan="1" md-colspan="1" md-colspan-sm="3">
		      <md-grid-tile-footer class="grid-tile-footer--transparent">
		        <h3>Accent - Hue 1</h3>
		      </md-grid-tile-footer>
	  </md-grid-tile>
  	<md-grid-tile class="color-accent-2" md-rowspan="1" md-colspan="1" md-colspan-sm="3">
  	      <md-grid-tile-footer class="grid-tile-footer--transparent">
  	        <h3>Accent - Hue 2</h3>
  	      </md-grid-tile-footer>
    </md-grid-tile>
  	<md-grid-tile class="color-accent-3" md-rowspan="1" md-colspan="1" md-colspan-sm="3">
  	      <md-grid-tile-footer class="grid-tile-footer--transparent">
  	        <h3>Accent - Hue 3</h3>
  	      </md-grid-tile-footer>
    </md-grid-tile>
    <!-- Warn -->
	</md-grid-list>
</section>