<!-- Top Nav -->
<md-toolbar class="navbar-header" layout="row" md-scroll-shrink layout-sm="column" layout-align="center center">
	<div class="navbar-icons" layout="row" layout-align="center center">
		<md-button class="md-fab btn-nav-logo btn-nav-logo--angular" href="https://angularjs.org/" target="_blank" aria-label="AngularJS Link"></md-button>
		<span>+</span>
		<md-button class="md-fab btn-nav-logo btn-nav-logo--material" href="https://material.angularjs.org/#/" target="_blank" aria-label="Material Design Link"></md-button>

	</div>
	<div class="navbar-header">
		<h1>Material Design Doc</h1>
	</div>
</md-toolbar>
<md-toolbar class="md-accent navbar-button-menu" layout-align="center center" md-scroll-shrink ng-controller="NavbarCtrl" ng-class="{'sidenav-open': navIsOpen() }">
	<md-button md-no-ink ng-click="toggleLeftMenu()">Menu</md-button>
</md-toolbar>


