<!-- Intro -->
<section id="introduction">
  <h1>Introduction</h1>
  <p>Material Design Doc demonstrates two ideas: <strong>1.</strong> How to use the Angular Material UI Framework, and <strong>2.</strong> How to create a Style Guide.</p>
  <br>
  <div layout="row" layout-sm="column" layout-align="space-between start">
    <div flex="45" flex-sm="100">
    	<h2>What's a UI Framework?</h2>
    	<p>UI Frameworks are a collection of modular components that can be added on top of an app. <a href="https://material.angularjs.org/#/" target="_blank">Angular Material</a> implements Google's <a href='http://www.google.com/design/spec/material-design/introduction.html#' target="_blank">Material Design</a> system with the Javascript MVC <a href="https://angularjs.org/" target="_blank">AngularJS</a>.</p>
  	</div>
    <div flex="45" flex-sm="100">
    	<h2>What's a Style Guide?</h2>
    	<p>	Style Guide are living documents that provide guidelines for the aesthetic, function, and form of a user interface. Here's <a href="http://bradfrost.com/blog/post/style-guides/" target="_blank">more info</a> and <a href="styleguides.io" target="_blank">examples</a>.</p>
  	</div>
  </div>
</section>